*{padding:0;margin:0;box-sizing:border-box}
body{display:flex;justify-content:center;align-items:center;height:100vh}
li{list-style:none}
.accordion{overflow:hidden;width:300px;border-radius:8px;box-shadow:0 0 10px rgba(0,0,0,0.6)}
.accordion>li{width:100%}
.accordion>li input{display:none}
.accordion>li label{position:relative;display:block;width:100%;padding:20px 50px;color:#fff;background-color:#5fb878;cursor:pointer}
.accordion>li label i{position:absolute;top:calc(50% - 12px);left:20px;font-size:24px;transition:all 0.5s}
.accordion>li label::after{content:"";position:absolute;right:20px;bottom:-14px;width:30px;height:15px;background-color:inherit;clip-path:polygon(0 0,100% 0,50% 100%)}
.accordion>li label:hover{background-color:#53aa6c}
.accordion>li:not(:first-child) label{border-top:1px solid #38814d}
.accordion>li ol{width:100%;background-color:#333}
.accordion>li ol li{position:relative;width:100%;height:0;line-height:50px;padding-left:20px;color:#fff;cursor:pointer;transition:all 0.5s}
.accordion>li ol li::before{content:"";position:absolute;top:3px;left:0;width:5px;height:44px;background-color:#5fb878;transform:scaleY(0);transition:all 0.5s}
.accordion>li ol li:hover::before{transform:scaleY(1)}
.accordion>li input:checked~label i{transform:rotate(90deg)}
.accordion>li input:checked~ol li{height:50px}
a{text-decoration:none}
